{% extends 'base.html.twig' %}

{% block main %}

    <main>
        <article >
            {% if (mainArticle.image is null) %}
            <img class="article-img" src="" alt="">
            {% else %}
            <img class="article-img" src="{{asset(mainArticle.image)}}" alt="">
            {% endif %}
            <div class="article-content">
                <h2 class="main-title">{{ mainArticle.title }}</h2>
                <h3>{{ mainArticle.subtitle }}</h3>
                <p>{{ mainArticle.content | raw }}</p>
            </div>
        </article>
        <article >
            {% if (lastArticle.image is null) %}
            <img class="article-img" src="" alt="">
            {% else %}
            <img class="article-img" src="{{asset(lastArticle.image)}}" alt="">
            {% endif %}
            <div class="article-content">
                <h2 class="main-title">{{ lastArticle.title }}</h2>
                <h3>{{ lastArticle.subtitle }}</h3>
                <p>{{ lastArticle.content | raw }}</p>
            </div>
        </article>
        <article class="shop-article">
            {% if (itemArticle.image is null) %}
            <img class="article-img" src="" alt="">
            {% else %}
            <img class="article-img" src="{{asset(itemArticle.image)}}" alt="">
            {% endif %}
            <div class="article-content">
                <h2 class="main-title">{{ itemArticle.title }}</h2>
                <h3>{{ itemArticle.subtitle }}</h3>
                <p>{{ itemArticle.content | raw }}</p>
                <button><i class="fa fa-shopping-cart"> - Acheter</i></button>
            </div>
        </article>
    </main>

{% endblock %}
