<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solarité</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('assets/style/reset.css')}}">
    <link rel="stylesheet" href="{{asset('assets/style/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="dark-theme">
    <header>
        <nav>
            <div class="div-logo">
                <a href="{{ path('home') }}"><img class="header-logo" src="{{asset('assets/images/prototypeLogoSolarité2.png')}}" alt=""></a>
            </div>
            <ul class="menu-list">
                <li class="menu-list-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="menu-list-item"><a href="{{ path('actuality') }}">Actualités</a></li>
                <li class="campagnes">Campagnes
                    <nav class="sub-menu campagne">
                        <i>▼</i>
                        <ul class="menu-list">
                            {% for article in campagnelist %}
                                <li><a href="{{ path('article_name', {name: article.category.name, title: article.title}) }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                        
                    </nav>
                </li>
                <li class="races">Races
                    <nav class="sub-menu race">
                        <i>▼</i>
                        <ul class="menu-list">
                            {% for article in racelist %}
                                <li><a href="{{ path('article_name', {name: article.category.name, title: article.title}) }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
                <li class="classes">Classes
                    <nav class="sub-menu classe">
                        <i>▼</i>
                        <ul class="menu-list">
                            {% for article in classelist %}
                                <li><a href="{{ path('article_name', {name: article.category.name, title: article.title}) }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
                <li class="dieux">Divinités
                    <nav class="sub-menu dieu">
                        <i>▼</i>
                        <ul class="menu-list">
                            {% for article in divinitylist %}
                                <li><a href="{{ path('article_name', {name: article.category.name, title: article.title}) }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </li>
                <li>Boutique</li>
            </ul>
        </nav>
    </header>
    {% block main %}{% endblock %}
    <footer class="dark-theme">
        <div class="network">
            <li><a href="#" class="fa fa-twitter"> - Twitter</a></li>
            <li><a href="#" class="fa fa-facebook"> - Facebook</a></li>
            <li><a href="#" class="fa fa-youtube"> - Youtube</a></li>
        </div>
        <div class="information">
            <li>À propos</li>
            <li>Soutenir le projet</li>
            <li>Contacts</li>
        </div>
    </footer>
</body>

</html>