{% extends 'base.html.twig' %}

{% block main %}

    <main>
        {% for article in articleToShow %}
        <article >
            {% if (article.image is empty) %}
            <img class="article-img" src="" alt="">
            {% else %}
            <img class="article-img" src="{{asset(article.image)}}" alt="">
            {% endif %}
            <div class="article-content">
                {% if (article.title == "Elnias") %}
                <h2 class="main-title">Les {{ article.title }}</h2>
                {% else %}
                <h2 class="main-title">Les {{ article.title }}s</h2>
                {% endif %}
                <h3>{{ article.subtitle }}</h3>
                <p>{{ article.content }}</p>
            </div>
        </article>
        {% endfor %}
    </main>

{% endblock %}
