{% extends 'base.html.twig' %}

{% block main %}

    <main>
        <article >
            {% if (article.image is null) %}
            <img class="article-img" src="" alt="">
            {% else %}
            <img class="article-img" src="{{asset(article.image)}}" alt="">
            {% endif %}
            <div class="article-content">
                {% if (article.title == "Elnias") %}
                <h2 class="main-title">Les {{ article.title }}</h2>
                {% elseif (article.category.name == "Race") or (article.category.name == "Classe") %}
                <h2 class="main-title">Les {{ article.title }}s</h2>
                {% else %}
                <h2 class="main-title">{{ article.title }}</h2>
                {% endif %}
                <h3>{{ article.subtitle }}</h3>
                <p>{{ article.content | raw }}</p>
            </div>
        </article>
        <div class="other-article">
            <div class="nav-article previous">
                {% if (articlePrevious.image is null) %}
                <img class="article-img" src="" alt="">
                {% else %}
                <img src="{{asset(articlePrevious.image)}}" alt="">
                {% endif %}
                <a href="{{ path('article_name', {name: articlePrevious.category.name, title: articlePrevious.title}) }}"><button>⮘</button></a>
                <div>
                    {% if (articlePrevious.title == "Elnias") %}
                    <h2>Les {{ articlePrevious.title }}</h2>
                    {% else %}
                    <h2>Les {{ articlePrevious.title }}s</h2>
                    {% endif %}
                    <h3>{{ articlePrevious.subtitle }}</h3>
                </div>
            </div>
            <div class="nav-article next">
                {% if (articleNext.image is null) %}
                <img class="article-img" src="" alt="">
                {% else %}
                <img src="{{asset(articleNext.image)}}" alt="">
                {% endif %}
                <a href="{{ path('article_name', {name: articleNext.category.name, title: articleNext.title}) }}"><button>⮚</button></a>
                <div>
                    {% if (articleNext.title == "Elnias") %}
                    <h2>Les {{ articleNext.title }}</h2>
                    {% else %}
                    <h2>Les {{ articleNext.title }}s</h2>
                    {% endif %}
                    <h3>{{ articleNext.subtitle }}</h3>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
